In [10]:
import numpy as np
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px
import requests
print("successful")

successful

In [11]:
results_df = pd.read_csv('results.csv',low_memory=False)
picks_df = pd.read_csv('picks.csv',low_memory=False)
economy_df = pd.read_csv('economy.csv',low_memory=False)
players_df = pd.read_csv('players.csv',low_memory=False)

print("Data cached.")

Data cached.

In [12]:
# Filter by team. Lets get only data that includes Navi's stats.
#team_1, #team_2. If one of these teams are Natus Vincere, keep it. 
target = "Natus Vincere"
results_df = results_df[(results_df.team_1 == target) | (results_df.team_2 == target)]
results_df.head(100)

,date,team_1,team_2,_map,result_1,result_2,map_winner,starting_ct,ct_1,t_2,t_1,ct_2,event_id,match_id,rank_1,rank_2,map_wins_1,map_wins_2,match_winner
22,2020-03-17,Natus Vincere,North,Nuke,10,16,2,1,7,8,3,8,5226,2340396,1,23,0,2,2
23,2020-03-17,Natus Vincere,North,Dust2,10,16,2,1,5,10,5,6,5226,2340396,1,23,0,2,2
658,2020-03-01,G2,Natus Vincere,Mirage,2,16,2,2,1,2,1,14,4901,2339402,8,6,0,3,2
659,2020-03-01,G2,Natus Vincere,Nuke,4,16,2,2,3,2,1,14,4901,2339402,8,6,0,3,2
663,2020-03-01,G2,Natus Vincere,Dust2,13,16,2,1,7,8,6,8,4901,2339402,8,6,0,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6225,2019-08-31,MIBR,Natus Vincere,Mirage,11,16,2,2,5,7,6,9,4443,2335638,13,6,0,2,2
6247,2019-08-30,Natus Vincere,mousesports,Nuke,17,19,2,1,9,6,6,9,4443,2335630,6,9,17,19,2
6266,2019-08-29,Natus Vincere,DreamEaters,Overpass,16,7,1,1,9,6,7,1,4443,2335623,6,19,16,7,1
6282,2019-08-28,Natus Vincere,G2,Overpass,17,19,2,1,10,5,5,10,4443,2335620,6,8,17,19,2
7498,2019-07-06,Liquid,Natus Vincere,Overpass,16,12,1,2,10,3,6,9,4281,2334621,1,13,2,0,1

In [13]:
# Filter by team. Lets get only data that includes Navi's stats.
#team_1, #team_2. If one of these teams are Natus Vincere, keep it. 
target = "Natus Vincere"
picks_df = picks_df[(picks_df.team_1 == target) | (picks_df.team_2 == target)]
picks_df.head(100)

,date,team_1,team_2,inverted_teams,match_id,event_id,best_of,system,t1_removed_1,t1_removed_2,t1_removed_3,t2_removed_1,t2_removed_2,t2_removed_3,t1_picked_1,t2_picked_1,left_over
15,2020-03-17,North,Natus Vincere,1,2340396,5226,3,123412,Train,Inferno,0.0,Vertigo,Mirage,0.0,Nuke,Dust2,Overpass
378,2020-02-29,Natus Vincere,Astralis,0,2339401,4901,3,123412,Vertigo,Overpass,0.0,Mirage,Inferno,0.0,Dust2,Nuke,Train
392,2020-02-28,Natus Vincere,Liquid,0,2339399,4901,3,123412,Vertigo,Inferno,0.0,Train,Nuke,0.0,Dust2,Mirage,Overpass
409,2020-02-27,FaZe,Natus Vincere,1,2339397,4901,3,123412,Train,Overpass,0.0,Vertigo,Mirage,0.0,Nuke,Dust2,Inferno
427,2020-02-26,NiP,Natus Vincere,0,2339390,4901,3,123412,Dust2,Overpass,0.0,Vertigo,Inferno,0.0,Mirage,Train,Nuke
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5875,2018-12-04,ORDER,Natus Vincere,1,2329651,3376,1,122112,Dust2,Overpass,Train,Cache,Inferno,Nuke,0.0,0.0,Mirage
6194,2018-11-07,BIG,Natus Vincere,1,2328795,3954,3,123412,Mirage,Nuke,0.0,Cache,Train,0.0,Dust2,Inferno,Overpass
6217,2018-11-06,eUnited,Natus Vincere,1,2328783,3954,1,122112,Dust2,Train,Overpass,Cache,Nuke,Inferno,0.0,0.0,Mirage
6255,2018-11-03,Natus Vincere,Astralis,0,2328304,3701,1,122112,Cache,Nuke,Dust2,Train,Mirage,Inferno,0.0,0.0,Overpass
6259,2018-11-03,MIBR,Natus Vincere,1,2328309,3701,1,122112,Nuke,Dust2,Mirage,Cache,Inferno,Train,0.0,0.0,Overpass

In [15]:
target = "Natus Vincere"
players_df = players_df[(players_df.team == target) | (players_df.opponent == target)]
players_df.head(100)
#Note. This particular dataset has many missing values. Possibly due to some tournament matches only being played for less than three maps

,date,player_name,team,opponent,country,player_id,match_id,event_id,event_name,best_of,...,m3_kddiff_ct,m3_adr_ct,m3_kast_ct,m3_rating_ct,m3_kills_t,m3_deaths_t,m3_kddiff_t,m3_adr_t,m3_kast_t,m3_rating_t
30,2020-02-26,Boombl4,Natus Vincere,NiP,Russia,11840,2339390,4901,IEM Katowice 2020,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2020-02-26,Lekr0,NiP,Natus Vincere,Sweden,9261,2339390,4901,IEM Katowice 2020,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2020-02-26,Perfecto,Natus Vincere,NiP,Russia,16947,2339390,4901,IEM Katowice 2020,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2020-02-26,Plopski,NiP,Natus Vincere,Sweden,14218,2339390,4901,IEM Katowice 2020,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2020-02-26,REZ,NiP,Natus Vincere,Sweden,9278,2339390,4901,IEM Katowice 2020,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5352,2020-02-02,electronic,Natus Vincere,OG,Russia,8918,2339157,5147,ICE Challenge 2020,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5353,2020-02-02,flamie,Natus Vincere,OG,Russia,7594,2339157,5147,ICE Challenge 2020,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5354,2020-02-02,mantuu,OG,Natus Vincere,United Kingdom,10981,2339157,5147,ICE Challenge 2020,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5355,2020-02-02,s1mple,Natus Vincere,OG,Ukraine,7998,2339157,5147,ICE Challenge 2020,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5356,2020-02-02,valde,OG,Natus Vincere,Denmark,9031,2339157,5147,ICE Challenge 2020,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
economy_df = economy_df[(economy_df.team_1 == target) | (economy_df.team_2 == target)]
economy_df.head(100)

,date,match_id,event_id,team_1,team_2,best_of,_map,t1_start,t2_start,1_t1,...,21_winner,22_winner,23_winner,24_winner,25_winner,26_winner,27_winner,28_winner,29_winner,30_winner
0,2020-03-01,2339402,4901,G2,Natus Vincere,5,Nuke,t,ct,4350.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-03-01,2339402,4901,G2,Natus Vincere,5,Dust2,ct,t,3900.0,...,2.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,NaN
2,2020-03-01,2339402,4901,G2,Natus Vincere,5,Mirage,t,ct,4150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-02-29,2339401,4901,Natus Vincere,Astralis,3,Dust2,t,ct,4150.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-02-29,2339401,4901,Natus Vincere,Astralis,3,Nuke,ct,t,4200.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7502,2019-08-28,2335620,4443,Natus Vincere,G2,1,Overpass,ct,t,4200.0,...,2.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0
9102,2019-07-06,2334621,4281,Liquid,Natus Vincere,3,Dust2,t,ct,4200.0,...,2.0,1.0,1.0,2.0,1.0,2.0,1.0,1.0,NaN,NaN
9103,2019-07-06,2334621,4281,Liquid,Natus Vincere,3,Overpass,t,ct,4200.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
9149,2019-07-05,2334619,4281,Natus Vincere,NiP,3,Inferno,t,ct,4100.0,...,1.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,NaN,NaN
9150,2019-07-05,2334619,4281,Natus Vincere,NiP,3,Mirage,ct,t,4300.0,...,2.0,2.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Now, the working set only includes matches and data that includes Natus Vincere as one of the teams.